@import './reset.css';
@tailwind base;
@taiwlind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(185, 96, 96, .667);
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin-right: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c7575;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
}

button,
a,
input,
textarea {
  transition: all 0.3s;
}

:focus {
  outline: none;
}

input:focus,
textarea:focus,
button:focus-visible {
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.667);
}

/* 👇 Optional. change the background style. */
dialog::backdrop {
  background-color: rgba(185, 96, 96, 0.237);
  backdrop-filter: blur(1px);
}

/* Fade in animation*/
dialog[data-occupation-modal][open] {
  animation: myFadeIn 0.5s ease normal;
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
